.section1 {
  width: 100%;
  background-color: #e4f7fe;
  height: 550px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.section1 .header {
  width: 100%;
  max-width: 1050px;
  margin: auto;
  height: 45px;
  border: none;
  border-radius: 40px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section1 .header img {
  margin-left: 20px;
}
.section1 .header .nav {
  display: flex;
  color: #22253B;
  font-size: 15px;
  gap: 20px;
}
.section1 .header .btn {
  padding: 7px 10px;
  border: none;
  border-radius: 15px;
  background-color: #38BFF2;
  margin-right: 20px;
  color: white;
}
.section1 .header .btn1 {
  color: #22253B;
  background-color: transparent;
}
.section1 .header .phimg {
  display: none;
}
.section1 .s2 {
  display: flex;
  max-width: 1050px;
  margin: auto;
  margin-top: 100px;
  gap: 19%;
}
.section1 .s2 .left1 {
  width: 50%;
}
.section1 .s2 .left1 h1 {
  font-size: 34px;
}
.section1 .s2 .left1 p {
  color: #22253B;
}
.section1 .s2 .left1 button {
  padding: 13px 40px;
  color: white;
  background-color: #F15525;
  border-radius: 30px;
  border: none;
  font-size: 16px;
}
.section1 .s2 .right1 {
  width: 45%;
  margin-top: -25px;
}

.section2 {
  width: 100%;
  max-width: 1050px;
  background-color: white;
  height: 420px;
  margin: auto;
}
.section2 h1 {
  margin-top: 50px;
  text-align: center;
}
.section2 .set {
  width: 100%;
  height: 300px;
  background-color: #EAF2F5;
  border-radius: 40px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.section2 .set .left2 {
  width: 45%;
}
.section2 .set .left2 img {
  margin-top: 30px;
  margin-left: 100px;
}
.section2 .set .right2 {
  width: 45%;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.section2 .set .right2 .btn3 {
  padding: 12px 22px;
  margin-right: 13px;
  border: none;
  border-radius: 25px;
  background-color: #F15525;
  color: white;
  margin-bottom: 10px;
  font-size: 14px;
}
.section2 .set .right2 p {
  font-size: 23px;
  color: #22253B;
  font-weight: bold;
}

@media (max-width: 510px) {
  .section1 {
    height: auto;
  }
  .section1 .header .nav {
    display: none;
  }
  .section1 .header .btn1 {
    display: none;
  }
  .section1 .header .phimg {
    display: block;
    margin-right: 30px;
  }
  .section1 .s2 {
    display: flex;
    max-width: 1050px;
    margin: auto;
    flex-direction: column;
  }
  .section1 .s2 .left1 {
    width: 90%;
    padding: 10px;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
  }
  .section1 .s2 .right1 {
    width: 90%;
    margin-top: -25px;
    padding: 15px;
  }
  .section2 {
    width: 100%;
    max-width: 1050px;
    background-color: white;
    height: auto;
    margin: auto;
  }
  .section2 h1 {
    text-align: center;
  }
  .section2 .set {
    width: 100%;
    height: 300px;
    background-color: #EAF2F5;
    border-radius: 40px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .section2 .set .left2 {
    display: none;
    width: 45%;
  }
  .section2 .set .left2 img {
    margin-top: 30px;
    margin-left: 100px;
  }
  .section2 .set .right2 {
    padding: 10px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .section2 .set .right2 .btn3 {
    padding: 12px 40px;
    margin-right: 13px;
    border: none;
    border-radius: 25px;
    background-color: #F15525;
    color: white;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .section2 .set .right2 p {
    display: none;
    font-size: 23px;
    color: #22253B;
    font-weight: bold;
  }
  .section2 .set .right2 .b1 {
    width: 100%;
  }
  .section2 .set .right2 .b2 {
    width: 40%;
  }
  .section2 .set .right2 .b3 {
    width: 50%;
  }
  .section2 .set .right2 .b4 {
    width: 100%;
  }
  .section2 .set .right2 .b5 {
    width: 100%;
  }
  .section2 .set .right2 .b6 {
    width: 40%;
  }
  .section2 .set .right2 .b7 {
    width: 50%;
  }
}/*# sourceMappingURL=style.css.map */